PORT=8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=TU_PASSWORD_MYSQL
DB_NAME=portafoliogen

SESSION_SECRET=CAMBIA_ESTA_CLAVE_POR_UNA_CADENA_LARGA_Y_ALEATORIA

NVIDIA_API_KEY=REEMPLAZAR_CON_CLAVE_PERSONAL
NVIDIA_MODEL=meta/llama-3.1-8b-instruct
